@import "variables";

.title {
  color: $primary-color;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin: 0;

  @include breakpoint-up(tablet) {
    font-size: 4.5rem;
  }

  @include breakpoint-up(desktop) {
    font-size: 7.5rem;
  }
}

.highlight {
  font-family: $font-secondary;
}

.discover {
  flex-direction: column;
  gap: 0.0625rem;
  margin-top: 6rem;

  @include breakpoint-up(tablet) {
    margin-top: 8rem;
  }

  @include breakpoint-up(desktop) {
    margin-top: 10rem;
  }

  &__title {
    font-size: 1rem;
    text-transform: capitalize;

    @include breakpoint-up(tablet) {
      font-size: 1.25rem;
    }
  }

  &__heading {
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__description {
    width: 90%;
    font-size: 0.875rem;
    line-height: calc(1ex / 0.32);
    text-align: center;

    @include breakpoint-up(tablet) {
      width: 35rem;
    }
  }
}

.overlay-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;

  .loader-container {
    position: relative;

    .loader {
      width: 50px;
      height: 50px;
      display: grid;
      border-radius: 50%;
      mask: radial-gradient(farthest-side, #0000 40%, #000 41%);
      background: linear-gradient(0deg, #bfea8880 50%, #bfea88ff 0) center/4px
          100%,
        linear-gradient(90deg, #bfea8840 50%, #bfea88bf 0) center/100% 4px;
      background-repeat: no-repeat;
      animation: rotate-loader 1s infinite steps(12);
      position: absolute;
      top: 50%;
      left: 50%;

      &::before,
      &::after {
        content: "";
        grid-area: 1/1;
        border-radius: 50%;
        background: inherit;
        opacity: 0.915;
        transform: rotate(30deg);
      }

      &::after {
        opacity: 0.83;
        transform: rotate(60deg);
      }
    }

    @keyframes rotate-loader {
      100% {
        transform: rotate(1turn);
      }
    }
  }
}
