@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/rage-italic");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/rage-italic");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/rage-italic");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/rage-italic");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/rage-italic");
* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #192928;
  color: #bfea88;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

p,
h1,
div {
  margin: 0;
  padding: 0;
}

.container {
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .container {
    max-width: 33.8125rem;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1158px;
  }
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-c {
  align-items: center;
}
.flex-column {
  flex-direction: column;
}

.title {
  color: #bfea88;
  font-size: 7.5rem;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

.highlight {
  font-family: "Rage Italic", sans-serif;
}

.overlay-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.overlay-loader .loader-container {
  position: relative;
}
.overlay-loader .loader-container .loader {
  width: 50px;
  height: 50px;
  display: grid;
  border-radius: 50%;
  -webkit-mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) 40%, #000 41%);
          mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) 40%, #000 41%);
  background: linear-gradient(0deg, rgba(191, 234, 136, 0.5019607843) 50%, #bfea88 0) center/4px 100%, linear-gradient(90deg, rgba(191, 234, 136, 0.2509803922) 50%, rgba(191, 234, 136, 0.7490196078) 0) center/100% 4px;
  background-repeat: no-repeat;
  animation: rotate-loader 1s infinite steps(12);
  position: absolute;
  top: 50%;
  left: 50%;
}
.overlay-loader .loader-container .loader::before, .overlay-loader .loader-container .loader::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  opacity: 0.915;
  transform: rotate(30deg);
}
.overlay-loader .loader-container .loader::after {
  opacity: 0.83;
  transform: rotate(60deg);
}
@keyframes rotate-loader {
  100% {
    transform: rotate(1turn);
  }
}

.error {
  display: none;
  font-size: 1rem;
  color: #e23c12;
  text-align: center;
}

.bg-hero {
  background-image: linear-gradient(rgba(53, 28, 22, 0.48), rgba(53, 28, 22, 0.48)), url(../assets/cat.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 112px 0;
}

.breed-select {
  display: none;
  height: 3rem;
}

.cat-info {
  background-color: #192928;
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.cat-info .container {
  gap: 2rem;
}
.cat-info img {
  width: 300px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.cat-info .breed-info {
  border: 1px solid #bfea88;
  border-radius: 1rem;
  padding: 1rem 2rem;
}
.cat-info .breed-info p {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.cat-info .breed-info__title {
  font-weight: 700;
  font-size: 2rem;
}
.cat-info .breed-info__description {
  border-top: 1px solid #bfea88;
  line-height: 3.125ex;
}
.cat-info .breed-info__temperament {
  font-size: 0.85rem;
  line-height: 2;
}
.cat-info .breed-info__temperament strong {
  text-transform: uppercase;
}
.cat-info .breed-info__temperament .temperament-item {
  background-color: #bfea88;
  color: #192928;
  border-radius: 50px;
  padding: 0.125rem 0.5rem;
}

.breed-select.ss-main {
  border: 1px solid #bfea88;
  border-radius: 50px;
  background-color: transparent;
  color: #192928;
}
.breed-select.ss-main .ss-values .ss-value {
  background-color: #bfea88;
  border-radius: 50px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.breed-select.ss-main .ss-values .ss-value .ss-value-text {
  color: #192928;
}
.breed-select.ss-main .ss-values .ss-value .ss-value-delete {
  border-color: #192928;
}
.breed-select.ss-main .ss-values .ss-value .ss-value-delete svg path {
  stroke: #192928;
}
.breed-select.ss-main .ss-values .ss-placeholder {
  color: #bfea88;
  padding-left: 1rem;
}
.breed-select.ss-main .ss-deselect svg path,
.breed-select.ss-main .ss-arrow path {
  stroke: #bfea88;
}
.breed-select.ss-main.ss-open-above {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.breed-select.ss-main.ss-open-below {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.breed-select.ss-content {
  background-color: transparent;
  border: 1px solid #bfea88;
  border-radius: 0;
}
.breed-select.ss-content .ss-list .ss-option {
  color: #bfea88;
}
.breed-select.ss-content .ss-list .ss-option:hover, .breed-select.ss-content .ss-list .ss-option.ss-selected, .breed-select.ss-content .ss-list .ss-option.ss-highlighted, .breed-select.ss-content .ss-list .ss-option:not(.ss-disabled).ss-selected {
  background-color: #bfea88;
  color: #192928;
}
.breed-select.ss-content.ss-open-above {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.breed-select.ss-content.ss-open-below {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.breed-select.ss-content .ss-search input {
  background-color: transparent;
  color: #bfea88;
  border-color: #bfea88;
}
.breed-select.ss-content .ss-search input::-moz-placeholder {
  color: #bfea88;
}
.breed-select.ss-content .ss-search input::placeholder {
  color: #bfea88;
}
.breed-select.ss-content .ss-search input:focus {
  box-shadow: none;
}/*# sourceMappingURL=styles.css.map */